.customerFeedbackSection {
  width: 100%;
  height: auto;
  padding: 100px;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.feedbackWrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 30px;
  width: 90%;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(210, 210, 210);
  height: auto;
  padding: 40px;
  border-radius: 10px;
}

.feedbackWrapper::-webkit-scrollbar {
  display: none;
}

.feedbacks {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 10px;
}

.feedback {
  width: 100%;
  max-width: 500px;
}

.desc {
  background-color: rgba(237, 237, 237, 0.627);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  font-size: 1rem;
}

.customer {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  position: relative;
  top: -50px;
  left: 100px;
}

.customer img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.arrows {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.arrow1,
.arrow2 {
  border-radius: 50%;
  border: 1px solid gray;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.textContainer .title {
  font-weight: 600;
  font-size: 2rem;
}

.highlightTitle {
  font-family: var(--italianno-ff);
  font-size: 2.6rem;
  position: relative;
  top: 30px;
  font-weight: 500;
  color: var(--main-clr-orange);
  z-index: -1;
}

.customerInfo .profession {
  text-align: left;
  color: #747474;
}

.customerInfo .fullName {
  font-size: 1.1rem;
  font-weight: 600;
}

.customerInfo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
