.navigationLinks {
  width: 100%;
  background-color: var(--main-clr-orange);
  margin-top: 87px;
  height: auto;
  padding: 15px 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15rem;
}

.products .product img {
  width: 250px;
}

.product {
  margin-top: 100px;
  width: 300px;
  padding: 15px;
  text-align: center;
  background-color: rgba(226, 226, 226, 0.665);
  height: 260px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productTitle {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: 500px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hoverOnProduct {
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: all ease-in-out 1s;
}

.hoverOnProduct .hover {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--main-clr-black);
  width: 50px;
  height: 35px;
  cursor: pointer;
  transition: background-color ease-in 0.3s;
}

.product:hover .hoverOnProduct {
  display: flex;
}

.hoverOnProduct .hover:hover {
  background-color: var(--main-clr-orange);
}
