/* Montserrat font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Italianno */
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

/* Root variables */
:root {
    --main-clr-orange: "orange";
    --main-clr-black: "black";
    --italianno-ff: "Italianno", cursive;
    --montserrat-ff: "Montserrat", sans-serif;
}
